body{
    background: #eeedec;
    letter-spacing: 0.2em;
    font-size: 0.8em;
  }
  .container{
    max-width: 400px;
  }

  .card{
    border: 2px solid black;
  }

  .time{
    height: 350px;
    object-fit: cover;
    border: 2px solid red;
  }

  .icon{
    border: 2px solid black;
    top: -50px;
    position: relative;
    border-radius: 50px;
    width: 150px;
    margin-bottom: -50px;
  }

  .my-3{
    text-decoration: underline;
  }
  