body{
    background: #eee;
    letter-spacing: 0.1em;
    font-size: 0.7em;
    font-family: 'Poppins', sans-serif;
  }
  .container{
    max-width: 500px;
  }

  .card{
    border: 2px solid black;
  }

  .time{
    height: 350px;
    object-fit: cover;
    border: 2px solid red;
  }

  .icon{
    border: 2px solid black;
    top: -50px;
    position: relative;
    border-radius: 50px;
    width: 50%;
    margin-bottom: -50px;
  }

  .my-3{
    text-decoration: underline;
  }
  